@charset "utf-8";
body {
	font: 110%/1.4 Garamond, Georgia, "Times New Roman", Times, serif, sans-serif;
	background-color: #F9F9F9;
	margin: 0;
	padding: 0;
	color: #000;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #414958;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}
/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 80%;
	max-width: 1260px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	min-width: 700px;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
	background-color: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
}
/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
	background: #E8E8E8;
	background: -webkit-linear-gradient(#E8E8E8, #ffffff);
	background: -moz-linear-gradient(#E8E8E8, #ffffff);
	background: linear-gradient(#E8E8E8, #ffffff);
	/* [disabled]padding-left: 30px;
*/
	position: relative;
	border-bottom: 2px dotted #888;
	border-top: 2px dotted #888;
}
/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the right instead of the left, simply float these columns the opposite direction (all right instead of all left) and they'll render in reverse order. There's no need to move the divs around in the HTML source.

*/
.sidebar1 {
	float: left;
	width: 20%;
	height: 2000px;
	background: #E8E8E8;
	background: -webkit-linear-gradient(#E8E8E8, #ffffff);
	background: -moz-linear-gradient(#E8E8E8, #ffffff);
	background: linear-gradient(#E8E8E8, #ffffff);
	/*background-color: -webkit-linear-gradient(#E8E8E8, #ffffff);*/
	/*padding-bottom: 10px;*/
	/* [disabled]height: 100%;
*/
	min-width: 150px;
	bottom: 0px;
}
.content {
	padding: 10px 0;
	width: 80%;
	float: left;
}
/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}
/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
ul.nav {
		background: #E8E8E8;
	background: -webkit-linear-gradient(#E8E8E8, #ffffff);
	background: -moz-linear-gradient(#E8E8E8, #ffffff);
	background: linear-gradient(#E8E8E8, #ffffff);

	list-style: none; /* this removes the list marker */
	/* [disabled]border-top: 2px dotted #888;
*/ /* this creates the top border for the links - all others are placed using a bottom border on the LI */
	margin-bottom: 15px; /* this creates the space between the navigation on the content below */
}
ul.nav li {
	border-bottom: 2px dotted #888;
}
ul.nav a, ul.nav a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	padding: 5px 5px 5px 15px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
	/* [disabled]background-color: #D5D5D5; */
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background-color: #bbb;
	color: #414141;
}
/* ~~ The footer ~~ */
.footer {
	padding: 10px 0;
	background: #E8E8E8;
	background: -webkit-linear-gradient(#E8E8E8, #ffffff);
	background: -moz-linear-gradient(#E8E8E8, #ffffff);
	background: linear-gradient(#E8E8E8, #ffffff);
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both;
	text-align: center;
	padding-top: 20px;
	border-top: 2px dotted #888;
	border-bottom: 2px dotted #888;
}
.b2bcontent {

	display: block;
	padding-left: 10px;
	padding-top: 30px;
	/* [disabled]height: 800px; */
}
.b2bcover {
	background-color: #ABABAB;
	text-align: center;
	display: block;
	float: left;
	padding-left: 30px;
}
.b2bdetail {
	background-color: #DDDDD9;
	text-align: left;
	display: block;
	/*float: right;*/
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-top: 15px;
	font-size: 12pt;
	border-radius: 7px;
    /*border: 1px solid #666;*/
	width: 70%;
}
/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
.b2blogo {
	display: block;
	/* [disabled]float: left;
*/
	/* [disabled]text-align: right;
*/
	position: relative;
	top: 0px;
	left: 0px;
	width: 30%;
	padding-left: 20px;
}
.b2btitle {
	font-size: 42px;
	/* [disabled]text-align: left;
*/
	/* [disabled]display: block;
*/
	/* [disabled]padding-right: 30px;
*/
	/* [disabled]padding-top: 20px;
*/
	position: absolute;
	top: 6px;
	left: 397px;
	bottom: 0px;
	right: 0px;
	width: 270px;
	/* [disabled]background-color: #939393;
*/
	height: 70px;
}
.b2bsubtitle {
	font-size: 24px;
	/* [disabled]text-align: left;
*/
	/* [disabled]vertical-align: middle;
*/
	/* [disabled]display: block;
*/
	top: 134px;
	position: absolute;
	bottom: 10%;
	right: 2px;
	/* [disabled]background-color: #545454;
*/
	width: 271px;
	height: 40px;
}
